.history {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.history h3 {
  font-size: 20px;
  font-weight: 600;
}

.history-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 18px;
}
